.root {}

.media {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0;
}

.text {
  width: 100%;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;

  &>ul,
  &>ol {
    text-align: left;
    width: fit-content;
    /* center */
    margin-left: auto;
    margin-right: auto;
  }

  &>p {
    /* center */
    margin-left: auto;
    margin-right: auto;
  }
}

.alignRight {
  text-align: right;

  &>ul,
  &>ol {
    text-align: left;
    width: fit-content;
    /* push to right */
    margin-left: auto;
  }

  &>p {
    /* push to right */
    margin-left: auto;
  }
}

:global(#landing-category-slider) {
  & .media {
    border-radius: 16px;
    background: #F5F5F0;
   height: 173px;

      &>div {
        &>div {
          padding: 0 !important;
          height: 173px;

          & img {
            object-fit: contain;
          }
        }
      }
    @media (min-width: 768px) {
      height: 173px;

      &>div {
        &>div {
          padding: 0 !important;
          height: 173px;

          & img {
            object-fit: contain;
          }
        }
      }
    }

  }

  & .text {
    text-align: center;

    & a {
      margin: 0 auto;
      font-family: Open Sans;
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
      background: transparent;
      color: #2B2B2B;
      box-shadow: none;
      padding: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      display: flex;
      align-items: flex-end;
    }
  }
}